.navbar {
  border-radius: 0px !important;
}

.signin {
  color: #f5f5f5;
  background-color: #337ab7;
  margin-top: 5px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 15px !important;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

li {
  list-style-type: none;
}

.del_user {
  position: absolute;
  top: 15px;
  right: 15px;
}

.well {
  position: relative;
}

.image {
  display: inline-block;
}

ul.info {
  display: inline-block;
  float: right;
  margin: 20px 140px;
}

li.title {
  font-weight: bold;
  font-size: 1.5em;
}

.thumbnail{
  width: 230px;
  height: 280px;
  overflow: auto;
}

.thumbnail img {
  height: 80px;
  width: 120px;
}

.image img {
  height: 260px;
  width: 260px;
}

.add-cart {
  position: absolute;
  bottom: 30px;
}

.cart {
  margin-top: 15px;
}

.caption {
  position: absolute;
  bottom: 75px;
}

.edit-p {
  margin-top: 10px;
}

.delete-p {
  float: right;
  margin-top: 10px;
}

.del_line_item {
  position: absolute;
  top: 15px;
  right: 15px;
}

.quantity {
  display: inline-block;
  width: 20%;
}

.price {
  display: inline-block;
  float: right
}

.order {
  text-align: center;
}

.shop {
  float: right;
}

.pag {
  display: inline-block;
}

.cart {
  display: inline-block;
  float: right;
}

.container {
  margin-top: 5px;
}

.status {
  width: 15%;
}

.del-order {
  width: 15%;
}

.input-group form.navbar-form {
  text-align: center !important;
}

button {
  margin-top: -15px !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.categories {
  display: inline-block;
  margin-top: -1px;
  margin-right: -15px;
}

.search {
  display: inline-block;
}
